In [5]:
import pandas as pd
import numpy as np

In [6]:
columns = ["Sex_is_male", "Length", "Diameter", "Height", "Whole_weight", "Shucked_weight", "Viscera_weight", "Shell_weight", "Rings"]

In [7]:
data = []
with open("abalone/abalone.data", "r") as f:
    a = f.readline()
    while a != "":
        data.append(a.split(","))
        if data[-1][0]:
            data[-1][0] = data[-1][0].lower() == 'm'
        else:
            data[-1][0] = np.nan
        for i in range(1, len(data[-1])):
            if data[-1][i]:
                data[-1][i] = float(data[-1][i])
            else:
                data[-1][i] = np.nan
        a = f.readline()

In [8]:
pd.DataFrame(data=data, columns=columns).to_csv("abalone_dataset.csv", index=False)